* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}

#other-view-link {
    text-align: right;
    float: right;
}

#home-link {
    text-align: left;
    float: left;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    clear: both;
}

.search-element-container {
    text-align: left;
    width: 45%;
    margin: 8px;
    box-sizing: border-box;
}

.search-element-container input[type=text] {
    padding: 10px;
    float: none;
    display:block;
    width:100%;
    border: 1px solid #ccc;
    margin: 0px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.container, .big-button{
    float: left;
    text-align: center;
}

.big-button {
    color: black;
    font-weight: bold;
}

.quarter-width {
    width: 25%;
}

.half-width {
    width: 50%;
}

.book-details-area {
    width: 45%;
    
}

.label-input-wrapper, .serial-number-input-wrapper {
    display: flex;  
    margin-bottom: 30px;
    align-items: center;
}

.label-input-wrapper {
    justify-content: space-between;
}

.serial-number-input-wrapper {
    justify-content: flex-end;
}

#or-area {
    width: 10%;
}

.block, .centred-block {
    margin: 30px;
    background-color: #ededed;
    border-color: burlywood;
}

.centred-block {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-style: outset;
}

.block, #search-box {
    padding: 30px;
}

.user-input-area {
    text-align: left;
    margin-top: 50px;
}

a {
    color: rgb(88, 57, 21);
}

.librarian-form {
    text-align: left;
    padding: 30px;
}

form {
    text-align: left;
    margin-block-end: 0;
}

#reader-info {
    margin: 30px;
}

.see-available-copies-button {
    float: right;
}

#search-box{
    background-color: #ededed;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

#important-message{
    font-weight: bold;
}

.input-box {
    position: relative;
    right: 5%;
    max-width: 100%;
    margin-bottom: 30px;
}

.book-details-block {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.book-info{
    display: inline-block;
    width: calc(100% - 228px);
    padding: 30px;
    vertical-align: top;
}

.book-info input[type="submit"] {
    font-size:12px;
    display:inline-block;
    padding: 16px;
}

.book-cover {
    display: inline-block;
}

.book-cover img {
    width: 220px;
    height: 327px;
}

.title-text {
    font-size: 24px;
    margin: 12px;
}

.info-text {
    margin: 12px;
}

.alert-box {
    text-align: left;
}