* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

#home-link, #other-view-link {
    margin: 20px 20px;
    margin-bottom: 0;
}

#other-view-link {
    text-align: right;
    float: right;
}

#home-link {
    text-align: left;
    float: left;
}

h1, h2 {
    text-align: center;
    clear: both;
}

.search-element-container {
    text-align: left;
    width: 75%;
    margin: 8px;
    box-sizing: border-box;
}

.search-element-container input[type=text] {
    padding: 10px;
    float: none;
    display:block;
    width:100%;
    border: 1px solid #ccc;
    margin: 0px;
    font-size: 16px;
}

#input-box {
    display: flex;
    justify-content: space-evenly;
}

.input-container {
    text-align: left;
    width: 75%;
    margin: 8px;
    box-sizing: border-box;
}

.input-container input[type=number], .input-container input[type=text] {
    padding: 10px;
    float: none;
    display:block;
    width:100%;
    border: 1px solid #ccc;
    margin: 0px;
    font-size: 16px;
}

.half-width {
    width: 50%;
}

.book-details-area {
    width: 45%;
    
}

.label-input-wrapper, .serial-number-input-wrapper {
    display: flex;  
    margin-bottom: 30px;
    align-items: center;
}

.label-input-wrapper {
    justify-content: space-between;
}

.serial-number-input-wrapper {
    justify-content: flex-end;
}

#or-area {
    width: 10%;
}

.block, .centred-block {
    margin: 15px;
    background-color: #ededed;
}


.centred-block {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-style: outset;
}

.block, #search-box {
    padding: 30px;
}

.user-input-area {
    text-align: left;
    margin-top: 50px;
}

a {
    color: rgb(88, 57, 21);
}

.librarian-form {
    text-align: left;
    padding: 30px;
}

form {
    text-align: left;
    margin-block-end: 0;
}

#reader-info {
    margin: 30px;
}

.see-available-copies-button {
    float: right;
}

#search-box{
    background-color: #ededed;
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}

#important-message{
    font-weight: bold;
}

.input-box {
    position: relative;
    right: 5%;
    max-width: 100%;
    margin-bottom: 30px;
}

.book-details-block {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.book-info{
    display: inline-block;
    width: calc(100% - 228px);
    padding: 30px;
    vertical-align: top;
}

.book-info input[type="submit"] {
    font-size:12px;
    display:inline-block;
    padding: 16px;
}

.book-cover {
    display: inline-block;
}

.book-cover img {
    width: 220px;
    height: 327px;
}

.title-text {
    font-size: 24px;
    margin: 12px;
}

.info-text {
    margin: 12px;
}

.alert-box {
    text-align: left;
}

.search-result-more-info-button {
    float: right;
    text-align: right;
}

.add-form input[type="text"], .add-user-form input[type="text"] {
    padding: 10px;
    margin: 10px 10px;
    float: none;
    display:block;
    width:100%;
    border: 1px solid #ccc;
    margin: 0px;
    font-size: 16px;
}

.add-form input[type="submit"], .add-user-form input[type="submit"] {
    background-color: whitesmoke;
	border: none;
	color: #424242;
	padding: 12px 44px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border: 1px solid  #424242;
	float: right;
}

.side-by-side {
    margin:0;
}

.add-form{
    width: calc(50% - 60px);
    float: left;
    overflow: hidden;
    padding: 20px;
    margin: 30px;
    height: 520px;
    background-color: #ededed;
    border: 1px solid  #424242;
}

.add-user-form{
    width: calc(100% - 60px);
    padding: 20px;
    margin: 20px;
    background-color: #ededed;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column .home-block {
    margin: 10px 10px;
    padding: 20px;
    width: calc(100% - 15px);
    height: 160px;
    background-color:#ededed;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

#big-button {
    margin: 10px 10px;
    padding: 19px;
    width: calc(100% - 15px);
    height: 60px;
    background-color:#ededed;
    vertical-align: middle;
    border: 1px solid #ccc;
}

@media screen and (max-width: 1050px) {
    .column {
        max-width: 50%;
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.action-heading {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    color: black;
}